* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }

input[type="text"]{
    border-radius: 1rem;
    width: 8rem;
    height: 2rem;
    border: 2px solid green;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }
  
input[type="submit"]{
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    border: 2px solid green;
    background-color: white;
    font-size: 1rem;
  }

.visually-hidden { 
    /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
